:root {

  //-- YELLOW
  --tc-color-yl-lt: #FFC107; 
  --tc-color-yl-md: #FFC107; 
  --tc-color-yl-dk: #FFC107;

  //-- ORANGE
  --tc-color-or-lt: #FF5252; 
  --tc-color-or-md: #FF4343; 
  --tc-color-or-dk: #EF2B2D;

  //-- RED
  --tc-color-rd-lt: #E4405F; 
  --tc-color-rd-md: #E91E63; 
  --tc-color-rd-dk: #E91E63;

  //- PURPLE
  --tc-color-pr-lt: #9C27B0; 
  --tc-color-pr-md: #9C27B0; 
  --tc-color-pr-dk: #9C27B0;

  //-- TEAL
  --tc-color-tl-lt: #5CA4A9; 
  --tc-color-tl-md: #5CA4A9; 
  --tc-color-tl-dk: #5CA4A9;

  //-- BLUE
  --tc-color-bl-lt: #90CAF9; 
  --tc-color-bl-md: #2196F3; 
  --tc-color-bl-dk: #2196F3;

  //-- GREEN
  --tc-color-gn-lt: #AED581; 
  --tc-color-gn-md: #8BC34A; 
  --tc-color-gn-dk: #589117;

  //-- GREY
  --tc-color-gy-lt: #FAFAFA; 
  --tc-color-gy-md: #666666; 
  --tc-color-gy-dk: #292F36;

  //-- MISC
  --tc-color-mx-1: #F9F6EF;
  --tc-color-mx-2: #F0F0E8;
  --tc-color-mx-3: #CCCFB6;

  //-- FONT-SIZE
	--tc-text-sm: 90%;
  --tc-text-md: 1rem;
  --tc-text-lg: 2rem;

  //-- SPAN
  --tc-span-xs: 0.25rem;
  --tc-span-sm: 0.50rem;
  --tc-span-md: 0.75rem;
  --tc-span-lg: 1.00rem;
  --tc-span-xl: 1.50rem;
  --tc-span-sl: 3.00rem;

  //-- BORDER
  --tc-border: 1px solid var(--tc-color-gy-md);

  //-- DROPSHADOW
  --tc-box-shadow: 0 0px 3px var(--tc-color-gy-lt);

  //-- NAVBAR HEIGHT
  --tc-nav-height: 50px;

  //-- BREAKPOINTS
  --tc-screen-xl: 1200px;
  --tc-screen-lg: 992px;
  --tc-screen-md: 768px;
  --tc-screen-sm: 600px;
  --tc-screen-xs: 375px;
}