
/***-----------------------------------------------// ANIMATION **/
//
.__anim-pulsedown {
    animation: anim_scrolldown 0.75s infinite ease-in-out;
}
.__anim-pulseright {
	animation: anim_arrowright 0.75s infinite ease-in-out;
}
.__anim-pulseleft {
	animation: anim_arrowleft 1s infinite ease-in-out;
}
.__anim-spinloader {
	animation: anim_spinloader 2s infinite ease;
}



//
@keyframes anim_spinloader {
	0% {
		opacity: 0;
        transform: translate(-50%,-50%) rotate(0deg) scale(1);
	}
	50% {
		opacity: 1;
        transform: translate(-50%,-50%) rotate(180deg)  scale(1.1);
	}
    100% {
		opacity: 0;
        transform: translate(-50%,-50%) rotate(360deg)  scale(1);
	}
}
//
@keyframes anim_scrolldown {
	0% {
        opacity: 1;
		transform: translateY(0%);
	}
	100% {
        opacity: 0;
		transform: translateY(40%);
	}
}
//
@keyframes anim_arrowright {
	0% {
        opacity: 1;
		transform: translateX(0%);
	}
	100% {
        opacity: 0;
		transform: translateX(40%);
	}
}
//
@keyframes anim_arrowleft {
	0% {
        opacity: 1;
		transform: translateX(0%);
	}
	100% {
        opacity: 0;
		transform: translateX(-40%);
	}
}
//
@keyframes anim_bounce {
	0% {
        opacity: 1;
		transform: translateY(0%);
	}
	50% {
        opacity: 0.5;
		transform: translateY(10%);
	}
    100% {
        opacity: 1;
		transform: translateY(0%);
	}
}
//
@keyframes anim_pulse {
	0% {
        opacity: 0;
	}
	50% {
        opacity: 1;
	}
	100% {
        opacity: 0;
	}
}


/***-----------------------------------------------// TRANSITION **/


/***-----------------------------------------------// COMMENTS **/



