/***

REGIONAL_B ONLY - 160x600
///TRIGGERCELLDESIGNS 2005-2018
***/
/** VARIABLES **/
/** **/
/* line 13, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
body {
  margin: 0px; }

/** **/
/* line 18, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#container {
  left: 0px;
  top: 0px;
  width: 160px;
  height: 600px;
  display: block;
  position: relative;
  cursor: pointer;
  border: 1px solid #959595;
  background-color: #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden; }

/** **/
/* line 35, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#curtain {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  height: 600px;
  display: block;
  opacity: 1;
  background-color: #FFFFFF;
  z-index: 99; }

/** **/
/* line 48, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#btn {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  opacity: 0;
  background-color: #FFFFFF;
  z-index: 100; }

/** **/
/* line 62, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#btn_shimmer {
  position: absolute;
  left: 10px;
  top: -3px;
  width: 19px;
  height: 45px;
  opacity: 1;
  background: url("imgs/btn-shimmer.png") no-repeat;
  z-index: 100; }

/** **/
/* line 74, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#lockup {
  position: absolute;
  left: 33px;
  top: 21px;
  width: 94px;
  height: 94px;
  opacity: 1;
  z-index: 20; }

/** **/
/* line 85, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#lockup1a {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 94px;
  height: 94px;
  opacity: 1;
  background: url("imgs/lockup1a.png") no-repeat;
  z-index: 10; }

/** **/
/* line 97, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#lockup1b {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 94px;
  height: 94px;
  opacity: 1;
  background: url("imgs/lockup1b.png") no-repeat;
  z-index: 10; }

/** 
#lockup2 {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 94px;
    height: 94px;
    opacity: 1;
    background: url('imgs/lockup2.png') no-repeat;
    z-index: 10;
}*/
/** **/
/* line 121, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#txt1a {
  position: absolute;
  left: 28px;
  top: 190px;
  width: 106px;
  height: 21px;
  opacity: 1;
  background: url("imgs/txt1a.png") no-repeat;
  z-index: 10; }

/** **/
/* line 133, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#txt1b {
  position: absolute;
  left: 25px;
  top: 217px;
  width: 112px;
  height: 21px;
  opacity: 1;
  background: url("imgs/txt1b.png") no-repeat;
  z-index: 10; }

/** **/
/* line 145, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#txt2 {
  position: absolute;
  left: 26px;
  top: 252px;
  width: 108px;
  height: 72px;
  opacity: 1;
  background: url("imgs/txt2.png") no-repeat;
  z-index: 10; }

/** **/
/* line 157, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#cloud1 {
  position: absolute;
  left: 75px;
  top: -170px;
  width: 109px;
  height: 77px;
  opacity: 1;
  background: url("imgs/cloud1.jpg") no-repeat;
  z-index: 6; }

/** **/
/* line 169, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#cloud2 {
  position: absolute;
  right: 75px;
  top: -170px;
  width: 124px;
  height: 111px;
  opacity: 1;
  background: url("imgs/cloud2.jpg") no-repeat;
  z-index: 6; }

/** **/
/* line 181, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#cloud3 {
  position: absolute;
  left: 80px;
  top: 332px;
  width: 109px;
  height: 77px;
  opacity: 1;
  background: url("imgs/cloud1.jpg") no-repeat;
  z-index: 6; }

/** **/
/* line 193, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#cloud4 {
  position: absolute;
  left: -40px;
  top: 60px;
  width: 124px;
  height: 111px;
  opacity: 1;
  background: url("imgs/cloud2.jpg") no-repeat;
  z-index: 6; }

/** **/
/* line 205, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#plane {
  position: absolute;
  left: -3px;
  top: 335px;
  width: 166px;
  height: 166px;
  opacity: 1;
  background: url("imgs/plane.png") no-repeat;
  z-index: 11; }

/** **/
/* line 217, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#cta {
  position: absolute;
  left: 6px;
  top: 415px;
  width: 145px;
  height: 40px;
  opacity: 1;
  background: url("imgs/cta.svg") no-repeat;
  z-index: 95; }

/**************************************************** GAT BRANDING **/
/** **/
/* line 232, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#logo_gat {
  position: absolute;
  left: 24px;
  top: 555px;
  width: 110px;
  height: 17px;
  opacity: 1;
  background: url("imgs/logo-gat.png") no-repeat;
  z-index: 95; }

/** **/
/* line 244, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#logo_txt1 {
  position: absolute;
  left: 24px;
  top: 507px;
  width: 112px;
  height: 27px;
  opacity: 1;
  background: url("imgs/logo-txt1.png") no-repeat;
  z-index: 95; }

/** **/
/* line 256, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#logo_txt2 {
  position: absolute;
  left: 17px;
  top: 579px;
  width: 127px;
  height: 14px;
  opacity: 1;
  background: url("imgs/logo-txt2.png") no-repeat;
  z-index: 95; }

/** **/
/* line 268, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#logo_box1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 160px;
  height: 110px;
  display: block;
  opacity: 1;
  background-color: #46A032;
  z-index: 90; }

/** **/
/* line 281, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#logo_box2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 160px;
  height: 25px;
  display: block;
  opacity: 1;
  background-color: #FFFFFF;
  z-index: 91; }

/** **/
/* line 294, /Users/harrisdinga/Dropbox/workhub/projects/2019/18-01_air-fare-19/_html5/s1/160x600/src/style.scss */
#bground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 600px;
  opacity: 1;
  z-index: 0;
  background: #6597b7;
  /*background: -webkit-radial-gradient(center, ellipse cover, #6597b7 30%,#518099 100%);
	background: -moz-radial-gradient(center, ellipse cover, #6597b7 30%, #518099 100%);
	background: radial-gradient(ellipse at center, #6597b7 30%,#518099 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6597b7', endColorstr='#518099',GradientType=1 );
    */ }

/*# sourceMappingURL=style.css.map */