/***

REGIONAL_B ONLY - 160x600
///TRIGGERCELLDESIGNS 2005-2018
***/
/** VARIABLES **/
/** **/
/* line 13, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
body {
  margin: 0px; }

/** **/
/* line 18, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#container {
  left: 0px;
  top: 0px;
  width: 160px;
  height: 600px;
  display: block;
  position: relative;
  cursor: pointer;
  border: 1px solid #959595;
  background-color: #FFFFFF;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow: hidden; }

/** **/
/* line 35, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#curtain {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 160px;
  height: 600px;
  display: block;
  opacity: 1;
  background-color: #FFFFFF;
  z-index: 99; }

/** **/
/* line 48, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#btn {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: block;
  opacity: 0;
  background-color: #FFFFFF;
  z-index: 100; }

/** **/
/* line 62, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#btn_shimmer {
  position: absolute;
  left: 10px;
  top: -3px;
  width: 19px;
  height: 45px;
  opacity: 1;
  background: url("imgs/btn-shimmer.png") no-repeat;
  z-index: 100; }

/** 
#lockup {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 150px;
    height: 70px;
    opacity: 1;
    background: url('imgs/lockup.png') no-repeat;
    z-index: 10;
}*/
/** **/
/* line 86, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#txt1 {
  position: absolute;
  left: 12px;
  top: 31px;
  width: 136px;
  height: 126px;
  opacity: 1;
  background: url("imgs/txt1.png") no-repeat;
  z-index: 10; }

/** **/
/* line 98, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#txt2 {
  position: absolute;
  left: 5px;
  top: 220px;
  width: 150px;
  height: 73px;
  opacity: 1;
  background: url("imgs/txt2.png") no-repeat;
  z-index: 10; }

/** **/
/* line 110, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#cta {
  position: absolute;
  left: 6px;
  top: 415px;
  width: 145px;
  height: 40px;
  opacity: 1;
  background: url("imgs/cta.svg") no-repeat;
  z-index: 95; }

/**************************************************** GAT BRANDING **/
/** **/
/* line 125, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#logo_gat {
  position: absolute;
  left: 24px;
  top: 555px;
  width: 110px;
  height: 17px;
  opacity: 1;
  background: url("imgs/logo-gat.png") no-repeat;
  z-index: 95; }

/** **/
/* line 137, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#logo_txt1 {
  position: absolute;
  left: 24px;
  top: 507px;
  width: 112px;
  height: 27px;
  opacity: 1;
  background: url("imgs/logo-txt1.png") no-repeat;
  z-index: 95; }

/** **/
/* line 149, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#logo_txt2 {
  position: absolute;
  left: 17px;
  top: 579px;
  width: 127px;
  height: 14px;
  opacity: 1;
  background: url("imgs/logo-txt2.png") no-repeat;
  z-index: 95; }

/** **/
/* line 161, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#logo_box1 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 160px;
  height: 110px;
  display: block;
  opacity: 1;
  background-color: #46A032;
  z-index: 90; }

/** **/
/* line 174, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#logo_box2 {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 160px;
  height: 25px;
  display: block;
  opacity: 1;
  background-color: #FFFFFF;
  z-index: 91; }

/** **/
/* line 187, /Users/harrisdinga/Dropbox/workhub/gat/_projects/19-03_summer-sale/_html5/160x600/src/style.scss */
#bground {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 180px;
  height: 600px;
  opacity: 1;
  background: url("imgs/bground.jpg") no-repeat;
  z-index: 0; }

/*# sourceMappingURL=style.css.map */