.fgcolor-yl-lt {
  color: var(--tc-color-yl-lt);
}

.fgcolor-yl-md {
  color: var(--tc-color-yl-md);
}

.fgcolor-yl-dk {
  color: var(--tc-color-yl-dk);
}

.fgcolor-or-lt {
  color: var(--tc-color-red-lt);
}

.fgcolor-or-md {
  color: var(--tc-color-or-md);
}

.fgcolor-or-dk {
  color: var(--tc-color-or-dk);
}

.fgcolor-rd-lt {
  color: var(--tc-color-rd-lt);
}

.fgcolor-rd-md {
  color: var(--tc-color-rd-md);
}

.fgcolor-rd-dk {
  color: var(--tc-color-rd-dk);
}

.fgcolor-pr-lt {
  color: var(--tc-color-pr-lt);
}

.fgcolor-pr-md {
  color: var(--tc-color-pr-md);
}

.fgcolor-pr-dk {
  color: var(--tc-color-pr-dk);
}

.fgcolor-tl-lt {
  color: var(--tc-color-tl-lt);
}

.fgcolor-tl-md {
  color: var(--tc-color-tl-md);
}

.fgcolor-tl-dk {
  color: var(--tc-color-tl-dk);
}

.fgcolor-bl-lt {
  color: var(--tc-color-bl-lt);
}

.fgcolor-bl-md {
  color: var(--tc-color-bl-md);
}

.fgcolor-bl-dk {
  color: var(--tc-color-bl-dk);
}

.fgcolor-gn-lt {
  color: var(--tc-color-gn-lt);
}

.fgcolor-gn-md {
  color: var(--tc-color-gn-md);
}

.fgcolor-gn-dk {
  color: var(--tc-color-gn-dk);
}

.fgcolor-gy-lt {
  color: var(--tc-color-gy-lt);
}

.fgcolor-gy-md {
  color: var(--tc-color-gy-md);
}

.fgcolor-gy-dk {
  color: var(--tc-color-gy-dk);
}

.bgcolor-yl-lt {
  background-color: var(--tc-color-yl-lt);
}

.bgcolor-yl-md {
  background-color: var(--tc-color-yl-md);
}

.bgcolor-yl-dk {
  background-color: var(--tc-color-yl-dk);
}

.bgcolor-or-lt {
  background-color: var(--tc-color-red-lt);
}

.bgcolor-or-md {
  background-color: var(--tc-color-or-md);
}

.bgcolor-or-dk {
  background-color: var(--tc-color-or-dk);
}

.bgcolor-rd-lt {
  background-color: var(--tc-color-rd-lt);
}

.bgcolor-rd-md {
  background-color: var(--tc-color-rd-md);
}

.bgcolor-rd-dk {
  background-color: var(--tc-color-rd-dk);
}

.bgcolor-pr-lt {
  background-color: var(--tc-color-pr-lt);
}

.bgcolor-pr-md {
  background-color: var(--tc-color-pr-md);
}

.bgcolor-pr-dk {
  background-color: var(--tc-color-pr-dk);
}

.bgcolor-tl-lt {
  background-color: var(--tc-color-tl-lt);
}

.bgcolor-tl-md {
  background-color: var(--tc-color-tl-md);
}

.bgcolor-tl-dk {
  background-color: var(--tc-color-tl-dk);
}

.bgcolor-bl-lt {
  background-color: var(--tc-color-bl-lt);
}

.bgcolor-bl-md {
  background-color: var(--tc-color-bl-md);
}

.bgcolor-bl-dk {
  background-color: var(--tc-color-bl-dk);
}

.bgcolor-gn-lt {
  background-color: var(--tc-color-gn-lt);
}

.bgcolor-gn-md {
  background-color: var(--tc-color-gn-md);
}

.bgcolor-gn-dk {
  background-color: var(--tc-color-gn-dk);
}

.bgcolor-gy-lt {
  background-color: var(--tc-color-gy-lt);
}

.bgcolor-gy-md {
  background-color: var(--tc-color-gy-md);
}

.bgcolor-gy-dk {
  background-color: var(--tc-color-gy-dk);
}