@media (max-width: 768px) {
  nav .tc-nav-menu {
    display: none;
  }
}
@media (min-width: 768px) {
  nav .tc-nav-apps {
    display: none;
  }
}
@media (max-width: 992px) {
  .tc-header_navmenu ul {
    display: none;
  }
  .burgermenu-btn {
    display: block !important;
  }
  .tc-about_section2 .tc-header--md {
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
}