/***--------------------------------------------------------------------------------// KEYFRAMES **/

//-- SPIN LOADER --
@keyframes anim_spinloader {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%) rotate(180deg) scale(1.1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) rotate(360deg) scale(1);
  }
}
//-- FADE DOWN --
@keyframes anim-fadedown {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(50%);
  }
}

//-- BOUNCE --
@keyframes anim-bounce {
  0% {
    opacity: 1;
    transform: translateY(0%);
  }
  50% {
    opacity: 0.5;
    transform: translateY(50%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

//-- ARROW RIGHT --
@keyframes anim_arrowright {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(40%);
  }
}
//-- ARROW LEFT --
@keyframes anim_arrowleft {
  0% {
    opacity: 1;
    transform: translateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-40%);
  }
}


//-- PULSE --
@keyframes anim_pulse {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/***-----------------------------------------------// TRANSITION **/

/***-----------------------------------------------// COMMENTS **/
