/***--------------------------------------------------------------------------------// GLOBALS **/

// NO JS SCRIPT
.no-js::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  content: "You need to enable JavaScript to run this app.";
}

/***--------------------------------------------------------------------------------// PRELOADER **/
.preloader {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--tc-color-grey-dk);
  z-index: 70;

  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 71;
  }

  //classes set inside svg code in icons.jsx
  .loader-core { fill: #FFF; }
  .loader-text { fill: #FFF; }
  .loader-accent { fill: var(--tc-color-red-md); }
  .loader-bground { fill: rgba(255, 255, 255, 0); }

  .loader-caption {
    font-size: small;
    color: var(--tc-color-grey-md);
  }
}

/***--------------------------------------------------------------------------------// ICONS **/

.icn-arrowup {
  position: fixed;
  bottom: calc((var(--tc-nav-height))*1.75);
  right: 0;
  opacity: 0;
  z-index: 30;

  &:hover {
    cursor:pointer;
  }
}

.icn-social {
  display: inline-block;
  margin: 0 0.5rem;

  &:hover > svg .icn-fground { fill: var(--tc-color-red-md); }
  &:hover > svg { 
    transform: scale(1.25); 
    transition: var(--tc-anim-transition);
  }
}

.icn-mouse {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  animation: var(--tc-anim-fadedown);
  z-index: 30;

  &:hover {
    cursor:pointer;
  }
}

.stickynote {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0.75rem 1.25rem;
  font-size: var(--tc-text-sm);
  box-shadow: var(--tc-box-shadow);
  color: #856404;
  background-color: #FFF3cd;
  border: 1px solid #FFEEBA;
  border-radius: 0.25rem;
}

// PAGE
.page-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/***--------------------------------------------------------------------------------// HEADER **/

//
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
}

nav {
  .nav-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--tc-nav-height);
    background-color: #19222635; // --tc-color-grey-dk +35% opacity
    z-index: 42;
  }

  .nav-header-logo {
    display: flex;
    margin: auto 0.75rem;
    cursor: pointer;

    svg {
      width: 200px;
      height: 100%;
    }
  }

  .nav-menu-container {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10vh 6.944vw;
    color: #FFF;
    background-color: var(--tc-color-grey-dk);
    overflow: hidden;
    z-index: 41;
  }

  .nav-menu {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column wrap;
    position: relative;
    z-index: 2;
  }

  .nav-contact {
    text-align: center;
    margin-top: 3rem;
  }

  .nav-item {
    position: relative;
    letter-spacing: 0.05rem;
    margin: auto 0;
    padding: 0.5rem;
    text-align: center;
    font-size: var(--tc-text-lg);

    &.active a {
      color: var(--tc-color-red-md);
      pointer-events: none;
    }
  }

  a {
    color: #FFF;
    cursor: pointer;

    &:hover { 
      color: var(--tc-color-red-md); 
      transition: var(--tc-anim-transition);
    }
  }
}

.section-label {
  display: block;
  margin: 0;
  font-size: var(--tc-text-sm);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  color: var(--tc-color-grey-md);

  &::after {
    content: "/";
    display: block;
    margin-bottom: 1rem;
    color: var(--tc-color-red-md);
  }
}

.email-link {
  cursor: pointer;
  font-size: var(--tc-text-sm);
  text-transform: uppercase;
  letter-spacing: 2px;
}


/***--------------------------------------------------------------------------------// SECTIONS **/
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  z-index: 20;
}

/***--------------------------------------------------------------------------------// MASTHEAD **/
.section-masthead {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5rem;
  text-align: center;
  color: #FFF;
  background-color: var(--tc-color-blue-dk);
  overflow: hidden;

  .masthead-content { z-index: 30; }

  .masthead-bground {
    position: absolute;
    z-index: 1;
  }

  .masthead-header {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.25rem 0;

    .masthead-title {
      font-weight: 600;
      padding: 0rem 0.5rem;
      margin-left: 0.25rem;
      border-radius: 0.3rem;
      background-color: var(--tc-color-red-md);

      &::after {
        content: "_";
        padding-left: .2rem;
        animation: anim_pulse 1s infinite ease;
      }
    }
  }
}

/***--------------------------------------------------------------------------------// PROJECTS **/
.section-projects {
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--tc-color-grey-xl);

  .gallery-tile {
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--tc-color-red-md);

    &:hover img {
      opacity: 0;
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
    &:hover .gallery-caption {
      opacity: 1;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    img {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
    }

    .gallery-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #FFF;
      text-align: center;
      opacity: 0;
      font-size: var(--tc-text-md);
      font-weight: normal;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: 0.2s ease-in-out;
    }

    .gallery-caption h6 {
      font-weight: bold;
    }
  }
}

/***--------------------------------------------------------------------------------// PROJECT **/
.section-project {

  h1 { color: var(--tc-color-grey-dk);}
  .card {
    margin-bottom: 3rem;
    font-size: var(--tc-text-sm);
    background-color: var(--tc-color-grey-lt);
  }

  .project-card {
    .img-fluid {
      margin: 0.5rem 0;
      line-height: 1;
    }
    .figure-caption {
      font-size: 0.8rem;
    }
  }

  #modalPreview {
    #btnCloseModal {
      position: absolute;
      top: 0;
      right: 0.2rem;
      width: 3rem;
      height: 3rem;
      margin: 0.5rem;
      cursor: pointer;

      .icn-bground { fill: none; }
    }

    .modal-content {
      top: 50%;
      left: 50%;
      transform: translate(-50%,0%);
      background: transparent;
      border: 0;
      z-index: 51;
    }

    .modal-backdrop {
      opacity: 0.5;
      z-index: 50;
    }
  }
}

/***--------------------------------------------------------------------------------// EXPERTISE **/
.section-expertise {
  display: flex;
  position: relative;
  align-items: center;
  background-color: var(--tc-color-grey-xl);
}

/***--------------------------------------------------------------------------------// CLIENTS **/
.section-clients {
  display: flex;
  position:relative;
  align-items: center;
  background-color: var(--tc-color-variant1);
  //z-index: 23;

  .client-tile {
    margin: 0px;
    padding: 1px;
  }
}

/***--------------------------------------------------------------------------------// ABOUT **/
.section-about {
  position:relative;
  background-color: var(--tc-color-variant1);

  .section-offset-y {
    margin-top: -10rem;
  }

  .about-wrapper {
    margin: 0 3rem;
    background-color: var(--tc-color-yellow-lt);

    h1 {
      margin: 1rem 0;
      color: var(--tc-color-grey-md);
      span { color: var(--tc-color-red-md); }
    }

    h6 { font-size: var(--tc-text-sm); }
  }

  .about-career {
    margin: auto 0;
    padding: 3rem;
  }

  .about-profile-img {
    width: 500px;
    height: 500px;
    padding: 0;
    background-size: cover;
    background-image: url('../assets/img-profile.png');

    &:hover {
      background-image: url('../assets/img-profile.png');
    }
  }

  .about-brand {
    margin: 3rem;
    padding: 3rem;
    border-radius: var(--tc-border-radius);
    background-color: var(--tc-color-grey-lt);
  }

  .about-brand-img {
    width: 300px;
    height: auto;
    margin: auto;
    content: url('../assets/tc-logo-2b.png');
  }

  blockquote {
    padding: 3rem;
    text-align: center;
    color: var(--tc-color-grey-md);
  }
}

/***--------------------------------------------------------------------------------// FOOTER **/
footer {
  color: #FFF;
  padding: 0.5rem 0;
  background-color: var(--tc-color-grey-dk);

  .footer-col {
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin: auto 0;
  }

  .email-link { margin-left: 0.5rem;}

  a svg {
    width: 20px;
    height: auto;
  }
}