/***--------------------------------------------------------------------------------// GLOBALS **/

// NO JS SCRIPT
.no-js::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  content: "You need to enable JavaScript to run this app.";
}

/***--------------------------------------------------------------------------------// PRELOADER **/
.preloader {
  display: flex;
  flex-flow: column wrap;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: var(--tc-color-grey-dk);
  z-index: 70;

  .loader {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 71;
  }

  //classes set inside svg code in icons.jsx
  .loader-core { fill: #FFF; }
  .loader-text { fill: #FFF; }
  .loader-accent { fill: var(--tc-color-red-md); }
  .loader-bground { fill: rgba(255, 255, 255, 0); }

  .loader-caption {
    font-size: small;
    color: var(--tc-color-grey-md);
  }
}

/***--------------------------------------------------------------------------------// ICONS **/

.icn-social {
  display: inline-block;
  margin: 0.75rem;

  &:hover > svg .icn-fground { fill: var(--tc-color-red-md); }
  &:hover > svg { 
    transform: scale(1.25); 
    transition: var(--tc-anim-transition);
  }
}

.icn-mouse {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  animation: var(--tc-anim-fadedown);

  &:hover {
    cursor:pointer;
  }
}


/***--------------------------------------------------------------------------------// MASTHEAD **/
.tc-masthead {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 5rem;
  text-align: center;
  color: #FFF;
  overflow: hidden;
  background: url("../assets/bground/tc-hero-bground2.jpg") no-repeat center;
  background-size: cover;
  z-index: 20;

  .masthead-header {
    font-size: 3rem;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.25rem 0;

    .masthead-title {
      font-weight: 600;
      padding: 0rem 0.5rem;
      margin-left: 0.25rem;
      border-radius: 0.3rem;
      background-color: var(--tc-color-red-md);

      &::after {
        content: "_";
        padding-left: .2rem;
        animation: anim_pulse 1s infinite ease;
      }
    }
  }
}

// PAGE
.page-wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 10;
}

/***--------------------------------------------------------------------------------// HEADER **/

//
header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 40;
}

nav {
  .nav-header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--tc-nav-height);
    background-color: #19222635; // --tc-color-grey-dk +35% opacity
    z-index: 42;
  }

  .nav-header-logo {
    display: flex;
    margin: auto 0.75rem;
    cursor: pointer;

    svg {
      width: 200px;
      height: 100%;
    }
  }

  .nav-menu-container {
    display: flex;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #FFF;
    background-color: var(--tc-color-grey-dk);
    z-index: 41;
  }

  .nav-menu {
    margin: auto 0;
    justify-content: center;
    width: 100%;
  }

  .nav-contact {
    text-align: center;
    margin-top: 5rem;
  }

  .nav-item {
    position: relative;
    letter-spacing: 0.05rem;
    margin: auto 0;
    padding: 0.5rem;
    text-align: center;
    font-size: var(--tc-text-lg);
    
  }

  a {
    color: #FFF;
    cursor: pointer;

    &:hover { 
      color: var(--tc-color-red-md); 
      transition: var(--tc-anim-transition);
    }

    &.nav-active {
      color: var(--tc-color-red-md);
      pointer-events: none;
    }
  }
}

.section-label {
  display: block;
  margin: 0;
  font-size: var(--tc-text-sm);
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;

  &::after {
    content: "/";
    display: block;
    margin-bottom: 1rem;
    color: var(--tc-color-red-md);
  }
}

.email-link {
  cursor: pointer;
  color: var(--tc-color-beige-md);
}












/***--------------------------------------------------------------------------------// SECTIONS **/
section {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

/***--------------------------------------------------------------------------------// PROJECTS **/
.section-projects {
  background-color: var(--tc-color-grey-xl);

  .gallery-tile {
    position: relative;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: var(--tc-color-red-md);

    &:hover img {
      opacity: 0;
      cursor: pointer;
      transform: scale(1.05);
      transition: all 0.3s ease-in-out;
    }
    &:hover .gallery-caption {
      opacity: 1;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
    }

    img {
      opacity: 1;
      transform: scale(1);
      -webkit-transform: scale(1);
      transition: 0.2s ease-in-out;
      -webkit-transition: 0.2s ease-in-out;
    }

    .gallery-caption {
      position: absolute;
      top: 50%;
      left: 50%;
      color: #FFF;
      text-align: center;
      opacity: 0;
      font-size: var(--tc-text-md);
      font-weight: normal;
      width: 100%;
      transform: translate(-50%, -50%);
      transition: 0.2s ease-in-out;
    }

    .gallery-caption h6 {
      font-weight: bold;
    }
  }
}

/***--------------------------------------------------------------------------------// CLIENTS **/
.section-clients {
  background-color: var(--tc-color-variant1);

  .clients-tile {
    margin: 0px;
    padding: 1px;
  }
}

/***--------------------------------------------------------------------------------// EXPERTISE **/
.section-expertise {
  background-color: var(--tc-color-grey-xl);
}

/***--------------------------------------------------------------------------------// FOOTER **/
footer {
  color: #FFF;
  padding: 0.5rem 0;
  background-color: var(--tc-color-grey-dk);
}
