a.nav-link { padding: 0; }

ul {
  margin:0;
  padding:0;
  list-style: none;
}

h1, h2, h3, h4, h5, h6 { margin:0;}

.card {
  border: 0;
  background-color: #FFF;
  margin-bottom: 0.35rem;
  border-radius: 0.5rem;
}

.card-body { padding: 0.75rem 1rem; }